<div class = "container">
    <div class = "row">
        <div class = "col-xs-12">
                <h1  >I am in the component</h1>
                <hr>
                <app-servers></app-servers>>
                <!--div app-servers ></div-->
                <!--div class = 'app-servers' ></div-->
                
        </div>
        <div class = "col-xs-13">
            <app-successalert></app-successalert>
        </div>        
    </div>
          
    <p appBasichighlight>I have added attribute directive</p>   
    <p appBetterHighlight>I have added attribute directive</p>   
</div>
